@charset "UTF-8";
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
    table-layout: auto;
    width: 100%;   
}
.container {
    margin: auto;
    margin-top: 3em;
    width: 90%;
    padding: 10px;
}
.create{
    margin: auto;
    width: 50%;

}
.show{
    margin: auto;
    width: 50%;
}
.edit{
    margin: auto;
    width: 50%;
}

.top-row {
    padding-bottom: 3em;
}

.pull-left {
    padding-right: 10px;
}
.pull-right {
    margin-left: 10px;
    
    border-color: blue;
}

.pull-right .search-container {
    float: right;
   
}

.pull-right input[type=text] {
    padding: 6px;
    border: none;

}

.pull-right .search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.pull-right .search-container button:hover {
    background: #ccc;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
  